@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.oops-animation .letter {
  display: inline-block;
  animation: wiggle 1s ease-in-out infinite alternate,
    float 1.5s ease-in-out infinite;
}

.oops-animation .letter:nth-child(odd) {
  animation-delay: 0.1s;
}

.oops-animation .letter:nth-child(even) {
  animation-delay: 0.2s;
}
